In [1]:
import pandas as pd
import numpy as np
import os
import itertools as it

import plotly
import plotly.plotly as py
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
from plotly.graph_objs import *

import collections
init_notebook_mode(connected=True)

In [11]:
def recursively_default_dict():
        return collections.defaultdict(recursively_default_dict)


### Summary_Home
threshold_set= 4

Home= 'Summary_th' + str(threshold_set)
Home= Home + '/'

#Home= '/'.join([threshold_directory,Home])

## read_summary-stats

Summary= recursively_default_dict()

for Chr in range(1,13):
    filename= Home + 'Summary_assignments_CHR'+ str(Chr).zfill(2)+ '_Z' + str(threshold_set) + '.0_bin5.txt'
    
    chr_stats= pd.read_csv(filename,sep= '\t')
    Summary[Chr]= chr_stats

Summary= pd.concat([frame for frame in Summary.values()])

## read accession data
order_core= pd.read_csv('Order_core.txt')

In [12]:
order_core.head()

,ID,NAME,COUNTRY,REGION,sNMF_K3,Jap_K4,K9_cluster,Initial_subpop,genoIndex
0,CX59,"MILAGROSA,_ZAWA_BANDAY",Philippines,As5,4,1,cB_(Bas),aro,296
1,CX65,DOMSIAH,Iran,As1,4,1,cB_(Bas),aro,301
2,CX67,BINAM,Iran,As1,4,1,cB_(Bas),aro,303
3,CX104,SADRI_RICE_1,Iran,As1,4,1,cB_(Bas),aro,338
4,CX143,KHASAR,Iran,As1,4,1,cB_(Bas),aro,372

In [13]:
Summary.head()

               ID  chrom   color  t_length     mean_size    N
0  IRIS_313-11293      1  silver   6398963  10337.581583  619
1  IRIS_313-11293      1  purple   4375921   8415.232692  520
2  IRIS_313-11293      1   black   1945008   4642.023866  419
3  IRIS_313-11293      1    blue  14079545  18848.119143  747
4  IRIS_313-11293      1   green   4471495  10070.934685  444

In [14]:
print('Countries: {}'.format(len(order_core.COUNTRY.unique())))

print('population codes: ' + ','.join([str(x) for x in order_core.sNMF_K3.unique()]))
print('populations: ' + ','.join([str(x) for x in order_core.Initial_subpop.unique()]))
print('Number of accessions in data.file: {}, number of columns: {}'.format(order_core.shape[0],order_core.shape[1]))

print('population / code:')

print(order_core[['sNMF_K3','Initial_subpop']].drop_duplicates())

print(Summary.head())

Countries: 24
population codes: 4,5,0,1,2
populations: aro,admix,temp,aus,ind1A,ind2,japx,trop,indx,ind3,ind1B,subtrop
Number of accessions in data.file: 948, number of columns: 9
population / code:
     sNMF_K3 Initial_subpop
0          4            aro
48         4          admix
62         5           temp
64         5          admix
69         5            aus
71         5          ind1A
74         5            aro
75         5           ind2
78         5           japx
81         5           trop
84         5           indx
104        5           ind3
162        5          ind1B
169        0          ind1A
170        0           indx
171        0          ind1B
223        0           ind3
231        0           ind2
563        1            aus
628        2           temp
630        2           japx
651        2        subtrop
662        2           trop
               ID  chrom   color  t_length     mean_size    N
0  IRIS_313-11293      1  silver   6398963  10337.581583  619
1  IRIS_313-11293      1  purple   4375921   8415.232692  520
2  IRIS_313-11293      1   black   1945008   4642.023866  419
3  IRIS_313-11293      1    blue  14079545  18848.119143  747
4  IRIS_313-11293      1   green   4471495  10070.934685  444

## Classification by group.

Analysis of classication extent across hierarchical factor variables sNMF_K3 and Initial_subpop.

In [15]:
pop_codes= {
    0: 'Indica',
    1: 'Aus',
    2: 'Japonica',
    4: 'cBasmati',
    5: 'Admix'
}


### Select sNMF group (layer 1)
print_focus= False

focus_id= 'japx_WsNMF'
snmf_filter= True
snmf_gp= 5

selected_col= 'Initial_subpop'
selected_subtax= ['japx']


#
subset= [x for x in range(order_core.shape[0]) if order_core[selected_col][x] in selected_subtax]

snmf_subset= order_core.iloc[subset]

if snmf_filter:
    snmf_subset= snmf_subset[(snmf_subset.sNMF_K3 == snmf_gp)]

if print_focus:
    filename= focus_id + '.txt'
    Output= open(filename,'w')
    
    Output.write('\n'.join(list(snmf_subset.ID)))
    Output.close()

#
Merged= Summary.merge(snmf_subset,left_on='ID',right_on='ID')

group_colors= Merged.groupby(['color','ID'])['t_length','mean_size','N'].sum()
print(snmf_subset.shape)

(4, 9)

In [16]:
snmf_subset.head()

,ID,NAME,COUNTRY,REGION,sNMF_K3,Jap_K4,K9_cluster,Initial_subpop,genoIndex
78,IRIS_313-8256,GERDEH,Iran,As1,5,1,GJ-adm,japx,755
82,IRIS_313-8872,571,Thailand,As4,5,1,GJ-sbtrp,japx,942
96,IRIS_313-10562,SENG_CHUI_LIN,China,As6,5,1,GJ-adm,japx,1510
118,IRIS_313-10872,ARC_11802,India,As2e,5,1,GJ-adm,japx,1764

In [17]:
##################################################
### Proportion across Subgroups ###############
#################################################

color_choice= ['red']

dict_color= {
    'blue': 'Japonica',
    'yellow': 'Aus',
    'red': 'Indica',
    'green': 'Aus-Jap',
    'purple': 'Ind-Jap',
    'orange': 'Aus-Ind',
    'silver': 'Aus-Jap-Ind',
    'black': 'None'
}

Values= []

subgroup= snmf_subset


sub_ids= [x for x in subgroup.ID]

## Use Merged data frame to sort values by subgroup
Nrow= Merged.shape[0]
sub_summary= Merged.to_dict(orient='list')
sub_summary.keys()

Store= recursively_default_dict()

for row in range(Nrow):
    if sub_summary['ID'][row] in sub_ids:
        for color in color_choice:
            Store[sub_summary['K9_cluster'][row]][sub_summary['color'][row]][sub_summary['ID'][row]][sub_summary['chrom'][row]]= sub_summary['t_length'][row]

        
Vals= []

for subg in Store.keys():
    for guy in Store[subg][color].keys():
        Vals.append([subg,sum([y for y in it.chain(*[[Store[subg][color][guy][CHR] for CHR in Store[subg][color][guy].keys()] for color in color_choice])])])

Vals= np.array(Vals)
Vals.shape

(4, 2)

In [18]:
Vals_indexes= {
    z:[x for x in range(Vals.shape[0]) if Vals[x,0] == z] for z in Store.keys()
}

Vals_fig= [go.Box(
    y= [Vals[x,1] for x in Vals_indexes[i]],
    name= i,
    marker= dict(
        color= 'blue'
    ),
) for i in Vals_indexes.keys()]

layout= go.Layout(
    title= 'distribution of summed sizes of windows colored to: ' + ', '.join([dict_color[x] for x in color_choice]),
    xaxis= dict(
        title= 'classification: {}, subset: {}'.format(selected_col,selected_subtax)
    )
)

fig = go.Figure(data=Vals_fig, layout= layout)
iplot(fig)

**Fig. 1 Average assignment by global structure classification** Total genomic assignment by class was summed for each subclass of the selected reference group.

## Analysis of classification structure.

This section focus on identifying groups of individuals that might bear particular patterns of classification.

User selects classificaiton variables to use as color. Analysis is performed using individuals selected the `ID` class selected above.

In [19]:
##################################################
### look at stuff across some desired colors 
##################################################

Abstain= ['red','blue','black','green']


Hellnames= []
Hell= []

for ID in list(set(snmf_subset.ID)):
    Hellnames.append(ID)
    
    New_guy= Summary[(Summary.ID == ID)]
    total_length= New_guy.t_length.sum()
    color_guy= [x for x in New_guy.color]
    length_guy= [x for x in New_guy.t_length]
    
    colors_rekt= []
    
    for col in Abstain:
        Abs = [length_guy[x] for x in range(len(color_guy)) if color_guy[x] == col]
        Abs= sum(Abs) / total_length
        colors_rekt.append(Abs)
    
    colors_rekt.append(sum(colors_rekt))
    Hell.append(colors_rekt)

Hell = np.array(Hell)
Min_guys= sorted(Hell[:,Hell.shape[1]-1],reverse= False)

In [20]:
Min_threshold= .01
factor_below= [int(x <= Min_threshold) for x in Hell[:,Hell.shape[1]-1]]
factor_dict= {x:[z for z in range(len(factor_below)) if factor_below[z] == x] for x in list(set(factor_below))}

Fig_dat= [go.Scatter3d(
        x = np.exp(Hell[factor_dict[i],0]),
        y = np.exp(Hell[factor_dict[i],1]),
        z = np.exp(Hell[factor_dict[i],2]),
        mode= "markers",
        text= [Hellnames[c] for c in factor_dict[i]],
        name= ['below threshold','above threshold'][i],
        marker= {
        'line': {'width': 0},
        'size': 4,
        'symbol': 'circle',
      "opacity": 1
      }
    ) for i in factor_dict.keys()]

layout= go.Layout(
    title= 'threshold= {} %'.format(Min_threshold * 100),
    xaxis= dict(
        title= Abstain[0]
    ),
    yaxis= dict(
        title= Abstain[1]
    )
)

fig = go.Figure(data=Fig_dat,layout= layout)
iplot(fig)

**Fig. 2 Analysis of percentage of assignment to class variables selected**

## Individual classification summary.

Explore classification summaries by group.

### i. Mean, max and minimum percentages.

In [39]:
### Individual_sizes
### get percentages of average block size and genome coverage
INDS_size= Merged.groupby(['ID'])['t_length'].sum()

## create new columns w/ percentual values
group_colors['length_%']= group_colors.t_length / INDS_size * 100

## print
filename= Home + '.'.join(selected_col) + '_summary.txt'
os.makedirs(os.path.dirname(filename), exist_ok=True)
group_colors.to_csv(filename,sep= '\t')

In [40]:
# Mean assignment by color.
mean_colors= group_colors.groupby(['color']).mean()

filename= Home + '.'.join(selected_col) + '_summary_MEAN.txt'
os.makedirs(os.path.dirname(filename), exist_ok=True)
mean_colors.to_csv(filename,sep= '\t')

mean_colors

            t_length      mean_size            N   length_%
color
black   3.726008e+06   48621.279240   897.023490   0.999351
blue    2.035030e+08  273402.927101  9140.365772  54.581147
green   3.503376e+07  104484.382902  3884.553691   9.396336
orange  2.952870e+06   49588.933692   581.093960   0.791985
purple  5.196014e+07  105635.336937  5857.714765  13.936129
red     4.613851e+06   59702.546710   803.409396   1.237474
silver  6.921584e+07  117330.124048  7026.906040  18.564248
yellow  1.839359e+06   48194.531940   410.184564   0.493331

In [41]:
# Minimum assignment by color
min_colors= group_colors.groupby(['color']).min()

filename= Home + '.'.join(selected_col) + '_summary_MIN.txt'
os.makedirs(os.path.dirname(filename), exist_ok=True)
min_colors.to_csv(filename,sep= '\t')

min_colors

         t_length      mean_size     N   length_%
color
black      181345   33289.068727    56   0.048638
blue    151076531  121787.158276  7912  40.518477
green    20592388   61489.570019  3282   5.523238
orange     318060   27426.101476   120   0.085306
purple   44774559   87441.128904  5347  12.009376
red        498841   31632.482168   150   0.133794
silver   65097133  111246.339855  6568  17.459675
yellow     243149   30124.382236    76   0.065214

In [42]:
# Maximum assignment by color
max_colors= group_colors.groupby(['color']).max()

filename= Home + '.'.join(selected_col) + '_summary_MAX.txt'
os.makedirs(os.path.dirname(filename), exist_ok=True)
max_colors.to_csv(filename,sep= '\t')

max_colors

         t_length      mean_size      N   length_%
color
black    52118099   80693.230556  10311  13.978984
blue    220588797  324207.280536  16756  59.164199
green    41394587  118047.765831   4349  11.102274
orange   12516049   85791.303342   2727   3.356784
purple   59503237  117358.614062   7014  15.959312
red      25622212   95825.259774   4495   6.871835
silver   78558314  123252.724037   7771  21.069211
yellow    8793852   98681.943607   1322   2.358576

In [49]:
group_colors.head()

            t_length     mean_size      N   length_%
color ID
black B001  52118099  61127.384912  10311  13.978984
      B002  29894524  51212.259517   6990   8.018035
      B004    181345  36526.755556     56   0.048638
      B005   1220270  65850.359823    239   0.327289
      B008   1422787  49566.076829    345   0.381607

In [66]:
Color_black= Merged.loc[Merged.color== 'black']

Ides= []
Colo_ide= []

for guy in list(set(Color_black.ID)):
    genome_f= Color_black.loc[Color_black.ID == guy].t_length
    genome_f= [int(x) for x in genome_f]
    genome_f= sum(genome_f)
    
    Ides.append(guy)
    Colo_ide.append(genome_f)

In [69]:
import scipy
# scipy.stats.norm(np.mean(P_dist),np.std(P_dist)).cdf(Fist)


Dists_mean= np.mean(Colo_ide)
Dists_std= np.std(Colo_ide)
Dists_median= np.median(Colo_ide)

from scipy.stats import norm

Dists_endpoints= norm.interval(0.95, loc=Dists_mean, scale=Dists_std)
print(Dists_endpoints)

Overlier= [Ides[x] for x in range(len(Ides)) if Colo_ide[x] >= Dists_endpoints[1]]

print(len(Overlier))

over_extract= [x for x in range(order_core.shape[0]) if order_core.ID[x] in Overlier]

order_core.loc[over_extract]

(-7784424.1830127798, 15236439.323952377)
10

,ID,NAME,COUNTRY,REGION,sNMF_K3,Jap_K4,K9_cluster,Initial_subpop,genoIndex
628,B001,HEIBIAO,China,As6,2,5,GJ-tmp,temp,-1
629,B002,SANSUIJIN,China,As6,2,5,GJ-tmp,temp,0
642,B071,MUXIQIU,China,As6,2,5,GJ-tmp,temp,65
643,B077,YIZHIXIANG,China,As6,2,5,GJ-tmp,temp,71
646,B103,LAOHONGDAO,China,As6,2,5,GJ-tmp,temp,93
648,B110,HUANGPINUO,China,As6,2,5,GJ-tmp,temp,100
649,B111,ZIMANGFEIE,China,As6,2,5,GJ-tmp,temp,101
654,B154,LIMING_B,China,As6,2,5,GJ-tmp,temp,144
687,CX212,NONGKEN_58,Japan,As7,2,5,GJ-tmp,temp,398
882,IRIS_313-11846,TON_TIA_GUAY_NU,Thailand,As4,2,3,GJ-sbtrp,subtrop,2654

In [45]:
## Maximum and minimum coverage of assignment by color, top N individuals.
N= 30

group_colors.groupby(['color'])['length_%'].nlargest(N)


#group_colors.groupby(['color'])['t_length'].nsmallest(N)

color   color   ID
black   black   B001              13.978984
                B154              13.129826
                B103              12.399240
                B002               8.018035
                B077               7.718011
                B110               6.471588
                B071               5.778759
                IRIS_313-11846     5.544796
                B111               4.376593
                CX212              4.290958
                IRIS_313-11008     3.848835
                B134               3.824333
                IRIS_313-10865     3.613492
                B223               3.188074
                CX129              2.262436
                B100               2.209422
                IRIS_313-11571     2.199820
                IRIS_313-9233      2.144030
                IRIS_313-10094     2.143152
                IRIS_313-10766     2.045441
                B161               1.991196
                IRIS_313-11831     1.965782
                IRIS_313-11496     1.892492
                IRIS_313-8565      1.882362
                IRIS_313-9081      1.760372
                IRIS_313-10884     1.721872
                IRIS_313-11009     1.686222
                IRIS_313-9123      1.655727
                B258               1.621361
                IRIS_313-10848     1.563527
                                    ...
yellow  yellow  IRIS_313-10848     2.358576
                IRIS_313-8519      1.507967
                IRIS_313-9529      1.439840
                IRIS_313-9048      1.383217
                IRIS_313-8857      1.323390
                IRIS_313-8637      1.308991
                IRIS_313-10865     1.299959
                IRIS_313-10886     1.274119
                IRIS_313-8486      1.261487
                IRIS_313-8999      1.227667
                IRIS_313-11691     1.199030
                CX129              1.194289
                IRIS_313-8815      1.162078
                IRIS_313-10722     1.139262
                IRIS_313-9691      1.124454
                B103               1.115474
                IRIS_313-11008     1.113507
                IRIS_313-11611     1.111898
                IRIS_313-10946     1.109365
                B154               1.096738
                IRIS_313-11044     1.074137
                B110               1.047786
                IRIS_313-11496     1.033509
                B212               1.030348
                B001               1.016577
                CX151              0.990464
                IRIS_313-10781     0.984813
                B077               0.965977
                IRIS_313-10741     0.960871
                IRIS_313-11846     0.957557
Name: length_%, Length: 240, dtype: float64

### ii. Individual classification summary

Provide classification summary of individual with provided ID.

In [17]:
ID= 'IRIS_313-11375'

Single= Merged[(Merged.ID==ID)]

In [18]:
order_core[(order_core.ID == ID)]

,ID,NAME,COUNTRY,REGION,sNMF_K3,Jap_K4,K9_cluster,Initial_subpop,genoIndex
58,IRIS_313-11375,CODE_NO_31225,India,As2a,4,1,cB_(Bas),aro,2254